body {
    width: 100%;
    height: 100vh;
    margin: 0%;
    background-color: #EBEDF1;
  }

main{
  padding-top: 50px;
  text-align: center;
  min-height: calc(100vh - 75px);
}

.white {
    color: white;
  }
/************ title **************/
.search_result_title{
    width: 100%;
    height: 80px;
    padding: 20px;
}

.search_result_title_text{
    color: #52A49A;
    font-size: larger;
}

.search_result_title_counts{
    color: #52A49A;
}

/************ cards **************/
.search_result_card{
  height: 150px;
  width: 96%;
  background-color: white;
  margin: 0 auto  8px auto;
  padding: 8px;
  display: flex;
  box-shadow: 2px 2px 2px rgba(0,0,0,.2);
}
.search_result_card_img{
  margin-right: 1rem;
}
.search_result_card_img img{
    width: 110px;
    height: 100%;
    display: block;
}

.search_result_card_explanation{
    width: 540px;
    height: 100%;
    display: block;
}
.search_result_card_buttons{
  display: flex;
  justify-content: space-around;
}
.search_result_card_comparison{
  background-color: #52A49A;
  border-radius: 5px;
}
.button_comparison{
  display: flex;
  padding: .5em;
  font-size: 8px;
  color: #fff;
}
.button_comparison p{
  padding-left: .5em;
}
.search_result_card_cart button{
    height: 1.2rem;
  font-size: 8px;
  background-color: #F3AE56;
  color: #fff;
}

/************ modal **************/
.compare_modal_container{
  z-index: 99;
  width: 100%;
  position: fixed;
  bottom: 0%;
}
.compare_modal_wrapper {
  background-color: #fff;
  border: solid 1px #aaa;
  position: relative;
}
.compare_modal_header{
  display: flex;
  justify-content: space-between;
  border: solid 1px #aaa;
  margin-bottom: 5px;
}
.compare_modal_title{
  text-align: left;
  font-size: 20px;
  padding-left: .5em;
}
.compare_modal_close{
  margin: 0 .2em;
  border: solid 1px #aaa;
}
.compare_item_wrapper{
  display: flex;
  justify-content: flex-start;
  overflow-x: scroll;
}
.compare_modal_footer {
  /* border: solid 1px #aaa; */
  text-align: right;
  margin-bottom: 5px;
}
.compare_modal_footer a{
  background-color: #F3AE56;
  color: #fff;
  font-size: 20px;
  margin-right: .5em;
  padding: .2em;
}
/*----------  ----------*/
.compare_item{
  width: 100px;
  border: solid 1px #aaa;
  padding: 5px;
}
.compare_item_img_wrapper img{
  width: 90px;
}