

body {
  width: 100%;
  height: 100vh;
  margin: 0%;
  background-color: #EBEDF1;
}
main {
  padding-top: 50px;
  text-align: center;
  margin: auto;
}
@media screen and (min-width: 480px){
  main {
    width: 70%;
  }
}
.white {
  color: white;
}


/**********************
        main 
 **********************/
/*----- search -----*/
.search_wrapper {
  background-color: #52A49A;
  width: 90%;
  margin: 20px auto 10px auto;
  padding: 10px;
  box-shadow: 2px 2px 2px rgba(0,0,0,.2);
}

.ipt_label div{
  background-color: #E3FFFC;
  border: solid 1px #235751;
  color: #235751;
  text-align: center;
  padding: .5em;
  font-size: 18px;
}

.sort_section_container_gyoukai,
.sort_section_container_area,
.sort_section_container_picky {
  padding-top: 10px;
  height: 0;
  opacity: 0;
  transition: .5s;
  visibility: hidden;
  background-color: #fff;
}
/*----- title 押された時 ↓-----*/
.sort_ipt:checked + .ipt_label + .sort_section_container_gyoukai{
  height: 570px;
  opacity: 1;
  visibility: visible;
}
.sort_ipt:checked + .ipt_label + .sort_section_container_area{
  height: 300px;
  opacity: 1;
  visibility: visible;
}
.sort_ipt:checked + .ipt_label + .sort_section_container_picky{
  height: 400px;
  opacity: 1;
  visibility: visible;
}
/*----- title 押された時 ↑-----*/
.sort_title {
  position: relative;
}
.sort_title i{
  color: #52A49A;
  position: absolute;
  top: 10px;
  right: 10%;
  /* transform: translate(0 0); */
}
.sort_ipt:checked ~ .fa-sort-down{
  transform: rotate(-180deg);
  top: 20px;
}

.gyoukai_title ,.area_title ,.picky_title{
  background-color: lightgrey;
  border: solid 2px white;
  border-radius: 20px;
  color: white;
  margin:10px;
  margin-top: 0;
  padding: 8px;
  text-align: center;
  position: relative;
  filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.2));
}

.gyoukai_title{
  position: relative;
}

.sort_title i.rotate{
  transform:rotate(180deg);
  top: 64%;
} 

.search_button{
  background-color: #F3AE56;
  margin-top: 10px;
  padding: .3em;
  text-align: center;
  border-radius: 5px;
}
.search_button p{
  font-size: 24px;
  color: #fff;
}

.area_section{
  position: relative;
}

.area_section i{
  color:white;
  position: absolute;
  top: 25%;
  right: 10%;
}

.picky_title{
  position: relative;
}

.picky_title i{
  color:white;
  position: absolute;
  top: 25%;
  right: 10%;
}

/* input:checked + label {
  background-color:#52A49A;         各選択肢の色変更のやつ
} */

/*----- ranking -----*/

.ranking_container {
  margin: 15px;
}
.ranking_title {
  color: #235751;
  font-size: 18px;
}
.ranking_area{
  display: flex;
  overflow-x: scroll;
  padding-top: 40px;
}
.ranking_card {
  width: 130px;
  height: 165px;
  margin: 10px 10px;
  background-color: #fff;
  flex-shrink: 0;
  position: relative;
  box-shadow: 2px 2px 2px rgba(0,0,0,.2);
}
.ranking_num {
  font-size: 22px;
  }
.ranking_num_box {
  position: absolute;
  transform: translateY(-100%);
  background-color: #F3AE56;
  color: #fff;
  border-radius: 5px 5px 0 0;
  padding: .2em .5em;
  width: 50%;
}
.ranking_card img{
  width: 130px;
  height: 85px;
}

.ranking_card form button{
  height: 1.2rem;
  font-size: 7px;
  color: #fff;
  padding: .5em;
}
.ranking_card_buttons_detail_button{
  background-color: #ff894e;
}
.ranking_card_buttons_list_button{
  background-color: #F3AE56;
}
.ranking_card_buttons{
  width: 100%;
  position: absolute;
  bottom: 0;
  transform: translateY(-20%);
  display: flex;
  justify-content: center;
  gap: 5%;
}
.agent_link {
  color: #235751;
}

/*----- column ----*/
.column_wrapper {
  padding: 15px;
}

.column_container {
  margin-bottom: 15px;
  text-align: left;
  background-color: #fff;
  box-shadow: 2px 2px 2px rgba(0,0,0,.2);
}

.col_ipt {
  display: none;
}
.column_container h2 {
  padding: .5em;
  padding-left: 1em;
  background-color: #52A49A;
  color: #fff;
  font-size: 20px;
  position: relative;
}
.column_container h2::before {
  content: '';
  width: .3em;
  height: 1.1em;
  background-color: #F3AE56;
  position: absolute;
  left: .5em;
}
.col_content {
  padding: .5em;
  height: 0;
  opacity: 0;
  padding: 0 10px;
  transition: .3s;
  visibility: hidden;
}
.col_ipt:checked + .col_lable + .col_content{
  height: 120px;     /*auto以外で高さ指定*/
  opacity: 1;
  padding: 10px;
  visibility: visible;
}

/*----- agentList page -----*/