

body {
  width: 100%;
  height: 100vh;
  margin: 0%;
  background-color: #EBEDF1;
}
main {
  padding-top: 50px;
  text-align: center;
  margin: auto;
}
@media screen and (min-width: 480px){
  main {
    width: 70%;
  }
}
.white {
  color: white;
}


/**********************
        main 
 **********************/
/*----- search -----*/
.search_wrapper {
  background-color: #52A49A;
  width: 90%;
  margin: 20px auto 10px auto;
  padding: 10px;
}
.sort_title {
  background-color: #E3FFFC;
  border: solid 1px #235751;
  /* border-radius: 12px; */
  color: #235751;
  /* display: flex; */
  text-align: center;
  position: relative;
  padding: 10px;
}

/* 今backgroundcolorが全体についてる（濃い緑）て、細かい選択肢のボックスの周りの色も同じになってるから分けなきゃいけない */


.sort_title h2{
  font-size: 18px;
}
.sort_title i{
  color: #52A49A;
  position: absolute;
  top: 40%;
  right: 10%;
}
.sort_section_container {
  display: none;
  position: relative;
  text-align: center;
}
.gyoukai_title ,.area_title ,.picky_title{
  background-color: lightgrey;
  border: solid 2px white;
  border-radius: 20px;
  color: white;
  margin:10px;
  padding: 8px;
  text-align: center;
  position: relative;
}

/* .gyoukai_title{
	padding-left:24px;
	position:relative;
} */

/* .gyoukai_title:before,
.gyoukai_title:after{
	content:"";
	display:block;
	position:absolute;
}
.gyoukai_title:before{
	width:28px;
	height:28px;
	border-radius:14px;
	background:#ffffff;
	border:1px solid #000000;
	left:4;top:2px;
}
.gyoukai_title:after{
	border-left:4px solid #52A49A;
	border-bottom:4px solid #52A49A;
	width:16px;
	height:12px;
	-webkit-transform:rotate(-45deg);
	transform:rotate(-45deg);
	left:16px;
	top:8px;
} */

/* .display_none{
  display: none;
} */

.gyoukai_title{
  position: relative;
}

.gyoukai_title i{
  color:white;
  position: absolute;
  top: 25%;
  right: 10%;
}

.sort_title i.rotate{
  transform:rotate(-180deg);
  top: 64%;
}

.search_button{
  background-color: #F3AE56;
  margin-top: 10px;
  padding: .3em;
  text-align: center;
  border-radius: 5px;
}
.search_button p{
  font-size: 24px;
  color: #fff;
}

.area_section{
  position: relative;
}

.area_section i{
  color:white;
  position: absolute;
  top: 25%;
  right: 10%;
}

.picky_title{
  position: relative;
}

.picky_title i{
  color:white;
  position: absolute;
  top: 25%;
  right: 10%;
}

input:checked + label {
  background-color:#52A49A;
}

/*----- ranking -----*/
.ranking_container {
  margin: 15px;
}
.ranking_title {
  color: #235751;
  font-size: 18px;
}
.ranking_area{
  display: flex;
  overflow-x: scroll;
}
.ranking_card {
  width: 130px;
  height: 165px;
  margin: 10px 10px;
  background-color: #fff;
  flex-shrink: 0;
}
.ranking_card img{
  width: 130px;
  height: 85px;
  /* background-color: aqua; */
}

.ranking_card form button{
  height: 1.2rem;
  font-size: 8px;
  background-color: #F3AE56;
  color: #fff;
}

.agent_link {
  color: #235751;
}


/*----- column -----*/
.column_wrapper {
  padding: 15px;
}
.column_container {
  margin-bottom: 15px;
  text-align: left;
  background-color: #fff;
}
.col_ipt {
  display: none;
}
.column_container h2 {
  padding: .5em;
  padding-left: 1em;
  background-color: #52A49A;
  color: #fff;
  font-size: 20px;
  position: relative;
}
.column_container h2::before {
  content: '';
  width: .3em;
  height: 1.1em;
  background-color: #F3AE56;
  position: absolute;
  left: .5em;
}
.col_content {
  padding: .5em;
  height: 0;
  opacity: 0;
  padding: 0 10px;
  transition: .3s;
  visibility: hidden;
}
.col_ipt:checked + .col_lable + .col_content{
  height: 100px;     /*auto以外で高さ指定*/
  opacity: 1;
  padding: 10px;
  visibility: visible;
}

/*----- agentList page -----*/




